body {
    color: black;
    padding: 50px 0;
    background-color: rgb(193, 163, 218);
}

<<<<<<< Updated upstream
h1 {
  font-size: 1.17em;
=======
html {
    font-size: 11px;
}

.header {
  font-size: 1.2em;
  color:rgb(53, 7, 126);
  display: inline;
>>>>>>> Stashed changes
}

.MainContainer {
    max-width: 960px;
    min-height: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.SearchBar {
    width: 230px;
    height: 30px;
    
}

.list {
  flex-direction: column;
  align-items: center;
  display: flex;
}

<<<<<<< Updated upstream
=======
input {
    width: 75%;
    padding: 10px 10px;
    margin: 10px 5px;
    box-sizing: border-box;
    background-color:rgb(182, 176, 238);
  }

  #SearchBar {
    width: 500px;
    height: 32px;
    border-radius: 3px;
    border: 1px solid black;
    padding: 5px 10px;
    font-size: 12px;
}

#SearchContainer {
    position: relative;
}

#SearchContainer ul{
  width: 500px;
  list-style: none;
  margin: 0px;
  padding: 0px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

#SearchContainer li{
  border-bottom: 1px solid rgb(16, 129, 21);
  margin: 0px;
  padding: 10px;
  border-radius: 3px;
  background: linear-gradient(to bottom, #693fdd 0%, #ec3535 100%);
  display: block;
}

.ListOfRestaurants {
  border-top: 1px solid red ;
  margin-bottom: 100px;
}

  @media (min-width: 1000px){
    h1 {
      font-size: 5rem;
    }
    .first-half.page {
      width: 48%;
    }
    .column:first-child, .columns:first-child {
      margin-left: 0px;
    }
    
  }
>>>>>>> Stashed changes
